@import "../../global.scss";

.portfolio {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 50px;

    @include mobile {
      font-size: 30px;
    }
  }

  ul {
    margin: 10px;
    padding: 0;
    list-style: none;
    display: flex;

    @include mobile {
      flex-wrap: wrap;
      justify-content: center;
      margin: 10px 0;
    }
  }

  .container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    @include mobile2 {
      width: 100%;
    }

    .item {
      width: 400px;
      height: 300px;
      border-radius: 20px;
      border: 1px solid rgb(211, 211, 211);
      margin: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      position: relative;
      transition: all 0.5s ease;
      cursor: pointer;
      overflow: hidden;
      @include mobile4k {
        width: 45%;
        height: 65%;
      }

      @include default {
        width: 400px;
        height: 300px;
      }

      @include mobile2 {
        width: 280px;
        height: 180px;
      }

      @include mobile {
        width: 130px;
        height: 110px;
      }

      h3 {
        position: absolute;
        font-size: 20px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
      }

      &:hover {
        background-color: $mainColor;
        img {
          opacity: 0.2;
          z-index: 0;
        }
      }
    }
  }
}
