@import "../../global.scss";

.works {
  background-color: darkblue;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .arrow {
    font-size: 100px;
    position: absolute;
    cursor: pointer;
    color: white;

    @include mobile2 {
      display: none;
    }

    &.left {
      left: 100px;
    }

    &.right {
      right: 100px;
    }
  }
  .slider {
    height: 500px;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-out;

    @include mobile4k {
      height: 60%;
    }

    @include default {
      height: 500px;
    }

    @include mobile2 {
      height: 90%;
      flex-direction: column;
      justify-content: center;
    }

    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;

      @include mobile2 {
        overflow: hidden;
      }

      .item {
        width: 1000px;
        height: 100%;
        background-color: white;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile4k {
          width: 1500px;
        }

        @include mobile2k {
          width: 1300px;
        }
        @include default {
          width: 1000px;
        }

        @include mobile2 {
          width: 90%;
          height: 80%;
          margin: 35px;
          justify-content: center;
          overflow: hidden;
          transition: all 0.5s ease;

          &:hover {
            background-color: $mainColor;
            color: white;

            img {
              opacity: 0.2;
              z-index: 0;
            }
          }
        }

        .left {
          flex: 4;
          height: 80%;
          display: flex;
          align-items: center;
          justify-content: center;

          .leftContainer {
            width: 90%;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .imgContainer {
              width: 60px;
              height: 60px;
              border-radius: 50px;
              background-color: rgb(109, 202, 244);
              display: flex;
              align-items: center;
              justify-content: center;

              @include mobile4k {
                width: 25%;
                height: 25%;
              }

              @include mobile2k {
                width: 20%;
                height: 20%;
              }

              @include mobile2 {
                display: none;
              }

              @include default {
                width: 60px;
                height: 60px;
              }

              .icon {
                font-size: 35px;

                @include mobile4k {
                  font-size: 80px;
                }

                @include mobile2k {
                  font-size: 50px;
                }
                @include default {
                  font-size: 35px;
                }

                @include mobile2 {
                  display: none;
                }
              }
            }

            h2 {
              font-size: 30px;

              @include mobile4k {
                font-size: 50px;
              }

              @include mobile2k {
                font-size: 40px;
              }
              @include default {
                font-size: 30px;
              }

              @include mobile2 {
                font-size: 20px;
              }
              @include mobile {
                font-size: 15px;
              }
            }
            p {
              font-size: 18px;

              @include mobile4k {
                font-size: 30px;
              }
              @include mobile2k {
                font-size: 30px;
              }

              @include default {
                font-size: 18px;
              }

              @include mobile2 {
                display: none;
              }
            }
            span {
              font-size: 15px;
              font-weight: 600;
              text-decoration: underline;
              cursor: pointer;

              @include mobile4k {
                font-size: 35px;
              }

              @include mobile2k {
                font-size: 30px;
              }
              @include default {
                font-size: 25px;
              }
              @include mobile2 {
                display: none;
              }
            }
          }
        }

        .right {
          flex: 8;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          img {
            width: 600px;
            border-radius: 30px;
          }
        }
      }
    }
  }
}
